<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Array Genearator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>
  <body>
    <body class="sb-nav-fixed">
      {% include "navbar.html" %}
      <div id="layoutSidenav">
          <div id="layoutSidenav_nav">
              {% include "sidebar.html" %}
          </div>
          <div id="layoutSidenav_content">
              <main>
                <div id="title">
                  Welcome to Online tools
                </div>
                <div id="content">
                  <p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                      Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget est 
                      lorem ipsum dolor sit. Volutpat odio facilisis mauris sit amet massa.
                      Commodo odio aenean sed adipiscing diam donec adipiscing tristique.
                      Mi eget mauris pharetra et. Non tellus orci ac auctor augue. Elit at 
                      imperdiet dui accumsan sit. Ornare arcu dui vivamus arcu felis. Egestas 
                      integer eget aliquet nibh praesent. In hac habitasse platea dictumst quisque 
                      sagittis purus. Pulvinar elementum integer enim neque volutpat ac.
                    </p>
                    <p>Senectus et netus et malesuada. Nunc pulvinar sapien et ligula ullamcorper 
                      malesuada proin. Neque convallis a cras semper auctor. Libero id faucibus nisl 
                      tincidunt eget. Leo a diam sollicitudin tempor id. A lacus vestibulum sed arcu 
                      non odio euismod lacinia. In tellus integer feugiat scelerisque. Feugiat in
                      fermentum posuere urna nec tincidunt praesent. Porttitor rhoncus dolor purus 
                      non enim praesent elementum facilisis. Nisi scelerisque eu ultrices vitae auctor
                      eu augue ut lectus. Ipsum faucibus vitae aliquet nec ullamcorper sit amet 
                      risus. Et malesuada fames ac turpis egestas sed. Sit amet nisl suscipit 
                      adipiscing bibendum est ultricies. Arcu ac tortor dignissim convallis 
                      aenean et tortor at. Pretium viverra suspendisse potenti nullam ac tortor
                      vitae purus. Eros donec ac odio tempor orci dapibus ultrices. Elementu
                      m nibh tellus molestie nunc. Et magnis dis parturient montes nascetur. 
                      Est placerat in egestas erat imperdiet. Consequat interdum varius sit 
                      amet mattis vulputate enim.
                    </p>
                  </p>
                </div>
              </main>
              <footer class="py-4 bg-light mt-auto">
                  <div class="container-fluid px-4">
                      <div class="d-flex align-items-center justify-content-between small">
                          <div class="text-muted">Copyright &copy; Online tools 2022</div>
                      </div>
                  </div>
              </footer>
          </div>
      </div>
  </body>
  <script type="text/javascript" rel="javascript" src="/static/Genearator.js"></script>
</html>