<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Array Genearator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>
  <body>
    <nav class="navbar sticky-top bg-dark">
      <div class="container-fluid">
        <a href = "./"class="navbar-brand" href="#">Random Array Generator</a>
      </div>
    </nav>
    <h1 id="main">Random Array Generator</h1>
    <form action="" method="post" id="form">
      <p>
        최소(min) :
        <input id="min" name="min" type="text" placeholder="min">
        최대(max) :
        <input id="max" name="max" type="text" placeholder="max" >
        생성할 개수(amount) : 
        <input id="amount" name="amount" type="text" placeholder="amount">
      </p>
      <p>
        <input type="checkbox" name = "duplicate" id = "checkbox" checked> 중복 허용(Duplicate allowed)
      </p>
      <p>
        타입(type) :
        <select name="type">
          <option value="int" selected> 정수(int)</option>
          <option value="str"> 문자열(str) </option>
          <option value="str"> 단어(word) </option>
        </select>
        구분(separate) :
        <select name="separate">
          <option value="comma" selected>콤마(,)</option>
          <option value="space"> 띄어쓰기( )</option>
        </select>
        <p id="warning" style="display: none; color: lightcoral;" >warning</p>
      </p>
        <button class="btn btn-primary btn-sm" id="generate" disabled>Genearate!</button>
    </form>
    <div>
      <h2 id="result-text">Result</h2>
      <div class = "content" style="margin-left: 1000px ;">
        <button type="button" class="btn btn-primary btn-sm" id="csvbtn">CSV로 추출</button>
        <button type="button" class="btn btn-primary btn-sm" id = "copy" value = "copy">
          <i class="fa-solid fa-copy fa-lg" ></i> copy
        </button>
      </div>
      <p id="result" style="width:90%; ">{{result}}</p>
    </div>
  </body>
  <script type="text/javascript" rel="javascript" src="/static/script.js"></script>
</html>