<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Array Genearator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <style>
    
    </style>
  </head>
  <body>
    <nav class="navbar sticky-top bg-dark">
      <div class="container-fluid">
        <a href = "./index.html"class="navbar-brand" href="#">Random Array Generator</a>
      </div>
    </nav>
    
    <h1 id="main">Random Array Generator</h1>
    <form action="" method="post">
      <p>
        최소(min) :
        <input name="min" type="text" placeholder="min" >
        최대(max) :
        <input name="max" type="text" placeholder="max" >
        생성할 개수(amount) :
        <input name="amount" type="text" placeholder="amount">
      </p>
      <p>
        <input type="checkbox">
        중복 허용(Duplicate allowed)
      </p>
      <p>
        타입(type) :
        <select name="type">
          <option value="int" selected> 정수(int)</option>
          <option value="str"> 문자열(str) </option>
        </select>
        구분(separate) :
        <select name="separate">
          <option value="comma" selected>콤마(,)</option>
          <option value="space"> 띄어쓰기( ) </option>
        </select>
      </p>
        <button id="generate">Genearate</button>
    </form>
    <div>
      <h2 id="result-text">result</h2>
      <p id="result">{{result}}</p>
    </div>
    <button id="csv" >CSV로 추출</button>
  </body>
</html>